/* Layout styles for header, main content, and footer */

/* Header styles */
header {
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-bg);
    z-index: 100;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.container {
    display: flex;
    gap: var(--padding-medium);


    @media (max-width: 768px) {
        flex-direction: column !important;
    }
}

/* Logo styling */
.logo-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo {
    width: 240px;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
    margin-left: 20px;
}

.logo:hover {
    transform: scale(1.05);
}

header h1 {
    color: var(--header-color);
    font-size: 1rem;
    text-align: center;
}

/* Navigation */
nav {
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 20px;

    &.small {
        font-size: 0.8rem;
        line-height: 1.5;
    }
}

b nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: var(--secondary-color);    
}

/* Main content */
.content-wrapper {
    width: 100%;
    margin-inline: auto;
    z-index: 1;
}

/* Remove the background-related before pseudo-element */
.content-wrapper::before {
    display: none;
}

main {
    padding: var(--padding-large);
}

@media screen and (max-width: 768px) {
    main {
        padding: var(--padding-small);
    }
}
.sections {
    display: grid;
    gap: clamp(.75rem, 1.5vw, calc(var(--padding-large) * 2));
    grid-template-columns:
        repeat(auto-fit, minmax(48%, 1fr));
}

@media screen and (max-width: 1440px) {
    .sections {
        grid-template-columns: 100%;
        gap: calc(var(--padding-large) * 2);
    }
}

@media screen and (max-width: 768px) {
    .sections {
        grid-template-columns: 100%;
        gap: var(--padding-large);
    }
}

section {
    border-radius: var(--border-radius);
    background-color: var(--section-bg);
    padding: var(--padding-small) var(--padding-medium);
}

.column {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-top: none;
    overflow: visible;    
    gap: var(--padding-small);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding-large);
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: var(--padding-small);
}

.grid-zamereni,
.vs-60,
.column.vs-60 {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
}

@media (max-width: 768px) {
    .column {
        gap: var(--padding-small);
    }
    .grid-zamereni,
    .vs-60,
    .column.vs-60 {
        gap: var(--padding-small);
    }
}


section ul {
    list-style-type: circle;
    padding-left: 25px;
    margin-bottom: 15px;
}

section ul li {
    margin-bottom: 5px;
    list-style-type: square;
}

address {
    display: inline-block;
    height: 100%;
    font-style: normal;
}

/* Footer styles */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--footer-bg);
    padding: var(--padding-small);
    gap: var(--padding-small);
    font-size: 0.8rem;
    color: var(--footer-color);
}

footer p {
    flex: 0 1 auto;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    flex-wrap: wrap;
}

#herobox::before {
    display: none;
}

.roof-container {
    display: none;
}

.roof-image {
    display: none;
}

.hero-columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
}

.hero-column {
    flex: 1;
}

.about-section ul {
    display: block;
    text-align: left;
    margin: 15px 0;
    list-style-type: circle;
    padding-left: 25px;
}

.grid-zamereni-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: var(--padding-large);
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    padding: var(--padding-small);
}

.grid-zamereni-item:nth-of-type(2n) {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .grid-zamereni-item {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }

    .grid-zamereni-item:nth-of-type(2n) {
        flex-direction: column-reverse;
        align-items: flex-end;
        text-align: right;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    max-width: 55%;
}

@media (max-width: 768px) {
    .info {
        max-width: 100%;
    }
}