/* Theme variables and color schemes */
:root {
    /* Common variables */
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --padding-large: 4rem;
    --border-radius: 4px;

    /* Light theme (default) */
    --primary-color: #cb0000;
    --green-color: #8EA604;
    --gold-color: #F5BB00;
    --secondary-color: #333;
    --background-color: #f9f9f9;
    --text-color: #1F1F1F;
    --header-color: #333;
    --section-bg: rgba(232, 232, 232, 0.8);
    --section-shadow: rgba(0, 0, 0, 0.1);
    --footer-bg: var(--section-bg);
    --footer-color: #1F1F1F88;
    --card-bg: rgba(255, 255, 255, .4);
    --border-color: #eee;
    --overlay-color: rgba(245, 245, 245, 0.7);
    --button-bg: rgba(0, 119, 204, 0.1);
}

/* Dark theme */
[data-theme="dark"] {
    --primary-color: #cb0000;
    --secondary-color: #e0e0e0;
    --background-color: #121212;
    --text-color: #e0e0e0;
    --header-color: #e0e0e0;
    --section-bg: rgba(30, 30, 30, 0.8);
    --section-shadow: rgba(0, 0, 0, 0.3);
    --footer-bg: var(--section-bg);
    --footer-color: #e0e0e088;
    --card-bg: rgba(0, 0, 0, .4);
    --border-color: #333;
    --overlay-color: rgba(20, 20, 20, 0.8);
    --button-bg: rgba(75, 171, 247, 0.15);
}